
{% extends 'portfolio/base.html' %}


{% block content%}
{% load static %}

<head>
<title>Scott Maxwell - Portfolio</title>
</head>	

<body>
    <!-- Modal that appears for contact me button -->
    <div class="modal fade" id="contactMeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-light">
				
                <div class="modal-body">

                    <!-- X button -->
                    <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <!-- Header -->
                    <h5 class="modal-title" id="exampleModalLabel">Send Me an Email</h5>
                    <br>

                    <form class="form" method="POST" action="https://formsubmit.co/{{ about_me.email }}">
                        <input type="hidden" name="_url" value="https://www.scottwmaxwell.com/">
                        <div class="form-group">
                            <input class="form-control noOutline" type="email" id="email" name="email" type="text"
                                placeholder="Enter Your Email" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control noOutline" id="message" name="message" rows="3" required
                                placeholder="Enter your message"></textarea>
                        </div>

                        <button type="submit" id="sendButton" class="btn">Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Large heading to show image, name, title, and social links -->
    <div class="heading">

        <div id="profilepic-id">
            <img id='profile-pic' src="{{ about_me.profile_pic.url }}" />
        </div>

        <div class="info">
            <!-- My name -->
            <h1 style="margin-bottom:0; padding-top:30px;">{{ about_me.full_name }}</h1>
            <!-- My vocation/title -->
            <p style="margin-top:0;">{{ about_me.title }}</p>

            <!-- Contact button -->
            <button id="contactmeButton" data-toggle="modal" data-target="#contactMeModal">
                Contact Me
                <i class="fa fa-envelope-o" aria-hidden="true" style="padding-left:6px;"></i>
            </button>

            <div style="float:left; margin-top:4px;">
                <!-- Social Links -->
                <a id="icon" href="https://github.com/{{ about_me.github_handle }}" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>

                <a id="icon" href="{{ about_me.linkedin_url }}" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>

    <div id="maincontent">
        <!-- Div for about me-->
        <!-- Clears the float attribute from above <img> to be placed under the image -->

        <div id="panel1">

            <!-- About me -->
            <div class="p-3 mb-2" id="content">
                <h3 style="padding-top:10px;">About Me</h3>
                <p>{{ about_me.content |safe }}</p>
            </div>

			{% if about_me.work_experience %}
            <!-- Div for work experience -->
            <div id="content">
                <h2 style="padding-top:10px;">Work Experience</h2>

				{% for wrkexp in workexperience %}
                <!-- Work experience title -->
                <strong id="wrkexp-title">{{ wrkexp.title }} at <i id="wrkexp-location">{{ wrkexp.location }}</i></strong>
                <p id="wrkexp-date" style="color:gray;">{{wrkexp.start_date}} - {{wrkexp.end_date}} ({{wrkexp.total_time}})</p>

                <!-- Bullet list of duties/accomplishments -->
				<p>{{ wrkexp.content |safe }}</p>
                <hr />
				{% endfor %}
            </div>
			{% endif %}

            <!-- Div for programming projects -->
            <div class="p-3 mb-2" id="content">

                <h3 style="padding-top:10px;">Featured Project</h3>

                {% for project in projectposts%}
                    {% if project.featured %}

                        <div class="featured justify-content-md-center">
                            <a href="{% if project.website_link %}{{ project.website_link}}{% else %}{{ request.path }}projects/projectpost/{{ project.id }} {% endif %}">
                                <img  class="featured-img" src="{{ project.image.url }}">
                            </a>
                            
                            {% if project.website_link %}
                                <h4 style="margin-top:10px;"><a href="{{ project.website_link }}">{{ project.title }}</a></h4>
                            {% else %}
                                <h4 style="margin-top:10px;"><a href="{{ request.path }}projects/projectpost/{{ project.id }}">{{ project.title }}</a></h4>
                            {% endif %}
                            
                            <br>
                            <p>{{project.description}}</p>
                        </div>
                        
                        
                    {% endif %}
                {% endfor %}

                <h4 style="padding-top:10px;">Other Programming Projects</h4>

				{% for project in projectposts %}
                    {% if not project.featured %}
                        <div class="post">
                            <!-- Project Image -->
                            {% if project.website_link %}
                                <a target="_blank" href="{{ project.website_link }}">
                                    <img src="{{ project.image.url }}" height="60"
                                    style="float:left; border-radius:10px; margin-left:10px; margin-right:10px;">
                                </a>
                            {% else %}
                                <a href="{{ request.path }}projects/projectpost/{{ project.id }}">
                                    <img src="{{ project.image.url }}" height="60"
                                    style="float:left; border-radius:10px; margin-left:10px; margin-right:10px;">
                                </a>
                            {% endif %}
                            <!-- Project Title -->
                            {% if project.website_link %}
                                <h5><a target="_blank" href="{{ project.website_link }}">{{ project.title }}</a></h5>
                            {% else %}

                            <h5><a href="{{ request.path }}projects/projectpost/{{ project.id }}">{{ project.title }}</a></h5>
                            {% endif %}

                        <!-- Project description -->
                        {{ project.description }}


                        </div>
                        <hr />
                    {% endif %}
				{% endfor %}
			</div>

            <div id="content">
                <div class="p-3 mb-2 calendar">
                    <h3>My Github Activity</h3>
                    <center>
                        <img class="github-calendar" src="http://ghchart.rshah.org/2a4933/scott-w-maxwell"
                            alt="scott-w-maxwell's Github chart" />
                    </center>
                </div>
            </div>

			<div id="content">
                <div class="p-3 mb-2" style="border-radius:10px; overflow:hidden;">
                    <h3>Blog Posts</h3>
					{% for blog in blogposts %}
						<!-- Blog Image -->
                        {% if blog.link %}
                            <a target="_blank" href="{{ blog.link }}">
                            <img src="{{ blog.image.url }}" height=75
                            style="float:left; border-radius:10px; margin-right:10px;">
                            </a>
                        {% else %}
                            <a href="{{ request.path }}blog/blogpost/{{ blog.id }}">
                            <img src="{{ blog.image.url }}" height=75
                            style="float:left; border-radius:10px; margin-right:10px;">
                            </a>
                        {% endif %}
		
						<!-- Blog Title -->
						{% if blog.link %}
							<h5><a target="_blank" href="{{ blog.link }}">{{ blog.title }}</a></h5><br>
						{% else %}
						<h5><a href="{{ request.path }}blog/blogpost/{{ blog.id }}">{{ blog.title }}</a></h5><br>	
						{% endif %}
						<hr />
					{% endfor %}
                </div>
            </div>

    </div>

    <div id="panel2">
        <div id="content">
            <h4 style="padding-top:10px;">Education & Certifications</h4>

			{% for cert in certifications %}
            <!-- Education Image + Link -->
            <a href="{{ cert.link }}" target="_blank">
                <img src="{{ cert.image.url }}" height=50 width="50"
                    style="float:left; border-radius:10px; margin-right:10px;">
            </a>

            <!-- Name, Date, Cert/Degree -->
            <strong><a href="{{ cert.link }}" target="_blank">{{ cert.location }}</a> <i id="date" style="color:gray;">{{ cert.date_acheived}}</i></strong><br>
            <small>{{ cert.title }}</small>

            <hr />
			{% endfor %}
        </div>

        <div id="content">
            <h4 style="padding-top:10px;">Skills</h4>
            <ul style="list-style-type: none;">
				{% for skill in skills %}
                    {% if skill.image %}
                        <li><img height="15" width="15" src="{{ skill.image.url }}"> {{ skill.title }}</li>
                    {% else %}
                        <li style="margin-left:19px;"> {{ skill.title }}</li>
                    {% endif %} 
				{% endfor %}
            </ul>
        </div>
		
    </div>


    </div>

</body>

{% endblock content %}