
{% extends 'portfolio/base.html' %}


{% block content%}
{% load static %}

<head>
<title>Scott Maxwell - Portfolio</title>
</head>	

<body>

    <!-- Modal that appears for contact me button -->
    <div class="modal fade" id="contactMeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-light">

                <!-- I removed the header and footer as I didn't like the white line that was created -->

                <div class="modal-body">

                    <!-- X button -->
                    <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <!-- Header -->
                    <h5 class="modal-title" id="exampleModalLabel">Send Me an Email</h5>
                    <br>

                    <form class="form" method="POST" action="https://formsubmit.co/{{ about_me.email }}">

                        <div class="form-group">
                            <input class="form-control noOutline" type="email" id="email" name="email" type="text"
                                placeholder="Enter Your Email" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control noOutline" id="message" name="message" rows="3" required
                                placeholder="Enter your message"></textarea>
                        </div>

                        <button type="submit" id="sendButton" class="btn">Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Large heading to show image, name, title, and social links -->
    <div class="heading">

        <div id="profilepic-id">
            <img id='profile-pic' src="../images/profile.png" />
        </div>

        <div class="info">
            <!-- My name -->
            <h1 style="margin-bottom:0; padding-top:30px;">{{ about_me.full_name }}</h1>
            <!-- My vocation/title -->
            <p style="margin-top:0;">{{ about_me.title }}</p>

            <!-- Contact button -->
            <button id="contactmeButton" data-toggle="modal" data-target="#contactMeModal">
                Contact Me
                <i class="fa fa-envelope-o" aria-hidden="true" style="padding-left:6px;"></i>
            </button>

            <!-- Social Links -->
            <a id="icon" href="https://github.com/{{ about_me.github_handle }}" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>

            <a id="icon" href="{{ about_me.linkedin_url }}" target="_blank">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>

        </div>
    </div>

    <div id="maincontent">
        <!-- Div for about me-->
        <!-- Clears the float attribute from above <img> to be placed under the image -->

        <div id="panel1">

            <!-- About me -->
            <div id="content">
                <h2 style="padding-top:10px;">About Me</h2>
                <p>{{ about_me.content |safe }}</p>
            </div>

            <!-- Div for work experience -->
            <div id="content">
                <h2 style="padding-top:10px;">Work Experience</h2>

                <!-- Work experience title -->
                <strong id="wrkexp-title">Software Support Technician at <i id="wrkexp-location">Respondus</i></strong>
                <p id="wrkexp-date" style="color:gray;">July 2020 - Present (2 years)</p>

                <!-- Bullet list of duties/accomplishments -->
                <ul>
                    <li>Sustained customers with concise technical support for complex problems</li>
                    <li>Supported developers in troubleshooting issues</li>
                    <li>Maintained integrity of product releases through quality assurance</li>
                    <li>Wrote & published knowledge base articles</li>
                </ul>
                <hr />

                <!-- Work experience title -->
                <strong id="wrkexp-title">Live Chat Technician at <i id="wrkexp-location">Respondus</i></strong>
                <p id="wrkexp-date" style="color:gray;">August 2019 - July 2020 (1 year)</p>

                <!-- Bullet list of duties/accomplishments -->
                <ul>
                    <li>Delivered support for an online exam proctoring service</li>
                    <li>Corrected webcam, microphone, and network problems</li>
                    <li>Sustained multiple chats simultaneously</li>
                </ul>
            </div>

            <!-- Div for programming projects -->
            <div id="content">
                <h2 style="padding-top:10px;">Recent Programming Projects</h2>

				{% for project in projectposts %}

                <!-- Project Image -->
                <img src="{{ project.image }}" height=50 width="50"
                    style="float:left; border-radius:10px; margin-right:10px;">

                <!-- Project Title -->
				{% if project.website_link %}
					<strong><a href="{{ project.website_link }}">{{ project.title  }}<span
						class="badge bg-secondary">New</span></a></strong><br>
				{% else %}

                <strong><a href="{{ request.path }}/post/{{ project.id }}">{{ project.title }}<span
                            class="badge bg-secondary">New</span></a></strong><br>
				
				{% endif %}

                <!-- Project description -->
                {{ project.description }}
                <hr />

				{% endfor %}

            <div id="content">
                <div class="p-3 mb-2" style="border-radius:10px; overflow:hidden;">
                    <h2>My Github Activity</h2>
                    <center>
                        <img class="github-calendar" src="http://ghchart.rshah.org/2a4933/scott-w-maxwell"
                            alt="scott-w-maxwell's Github chart" />
                    </center>
                </div>
            </div>

			<div id="content">
                <div class="p-3 mb-2" style="border-radius:10px; overflow:hidden;">
                    <h2>Blog Posts</h2>
					{% for blog in blogs %}
						
					{% endfor %}
                </div>
            </div>

    </div>

    <div id="panel2">
        <div id="content">
            <h4 style="padding-top:10px;">Education & Certifications</h4>

            <!-- Education Image + Link -->
            <a href="https://www.gcu.edu/degree-programs/bs-software-development" target="_blank">
                <img src="../images/GCU Logo.jpeg" height=50 width="50"
                    style="float:left; border-radius:10px; margin-right:10px;">
            </a>

            <!-- Name, Date, Cert/Degree -->
            <strong><a href="https://www.gcu.edu/degree-programs/bs-software-development" target="_blank">Grand
                    Canyon
                    University</a> <i id="date" style="color:gray;">2022-2024 (expected)</i></strong><br>
            <small>BS in Software Development</small>

            <hr />

            <!-- Education Image + Link -->
            <a href="https://www.bloomtech.com/" target="_blank">
                <img src="../images/BloomTech Logo.png" height=50 width="50"
                    style="float:left; border-radius:10px; margin-right:10px;">
            </a>

            <!-- Name, Date, Cert/Degree -->
            <strong><a href="https://www.bloomtech.com/" target="_blank">BloomTech</a> <i id="date"
                    style="color:gray;">2019-2020</i></strong><br>
            <small>Data Science & Machine Learning</small>

            <hr />
            <!-- Education Image + Link-->
            <a href="https://www.cgc.edu/" target="_blank">
                <img src="../images/CGCC Logo.jpeg" height=50 width="50"
                    style="float:left; border-radius:10px; margin-right:10px;">
            </a>
            <!-- Name, Date, Cert/Degree -->
            <strong><a href="https://www.cgc.edu/" target="_blank">CGCC</a> <i id="date" style="color:gray;">Aug 9,
                    2022</i></strong><br>
            <small>Associate of Science</small>
        </div>

        <div id="content">
            <h4 style="padding-top:10px;">Skills</h4>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Web Scraping</li>
                <li>Machine Learning</li>
                <li>Data Engineering</li>
                <li>HTML, CSS, JavaScript</li>
                <li>PostgreSQL, MongoDB</li>
                <li>Linode, AWS</li>
            </ul>
        </div>
    </div>


    </div>

</body>

{% endblock content %}