{% extends 'portfolio/base.html' %}

{% block content %}
<head>
    {% load static %}
    <title>Scott Maxwell - Photography</title>
</head>

<style>
    .main{
        min-height: 90vh;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    img {
        width:300px;
        height:300px;
        object-fit:cover;
        object-position: center;
        animation: fadeIn 2s;
    }

    .image-link{
        color:#828C83;
    }
    .image-link:hover{
        opacity:50%;
        color:#828C83;
        transition: opacity .5s;
    }

</style>

<body style="background-color:#828C83;">
    <div class='row m-0'>

        <!-- Empty Space -->
        <div class="col">
        </div>
        
        <div class="col-md-8 p-3 mb-2 text-dark p-3 main" style="margin-top:60px; border-radius:10px; min-width: 00px;">
            <br >
            <h2>My Photography</h2>
            <div style="margin-left:35px;">
                {% for photo in photos %}
                    <a class="image-link" href="{{ request.path }}photo/{{ photo.id }}">
                        <img src="{{ photo.image.url }}" style="margin-bottom:4px;">
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Empty Space -->
        <div class="col">
        </div>

    </div>
</body>
{% endblock %}