{% extends 'portfolio/base.html' %}

{% block content %}

<head>
    <title>Scott Maxwell - Blogs</title>
</head>


<div id="maincontent">
    <div id="content">
        <h1>Blog Posts</h1>
        <div class="row cards">

            {% for post in posts %}
            <div class="card hidden mx-auto" style="width: 18rem; margin:20px; border-color:#575c65;">
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <small class="card-text"><i>{{ post.date_posted|date:"M d, Y"  }}</i></small>
                    <h5 class="card-title">{{ post.title }}</h5>
                    
                    <br>
                    {% if post.website_link %}
                    <a href="{{ post.website_link }}" target="_blank" class="btn float-right">See Post</a>
                    {% else %}
                    <a href="{{ request.path }}blogpost/{{ post.id }}" class="btn float-right">See Post</a>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</body>

{% endblock %}