{% extends 'portfolio/base.html' %}

{% block content %}




<head>
{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
<title>Scott Maxwell - {{text.title}}</title>
</head>

<body>

    <!-- Main content of page -->
    <div id="maincontent">
        <div id="content">

            <h1>{{text.title|safe}}</h1>
            <small><i>{{text.date_posted|date:'M d, Y'}}<i></small>
            <p>{{text.content|safe}}</p>

</body>
<script src="{% static 'tinymce/js/prism.js' %}"></script>


{% endblock %}