/* Set font, text color, and background color of page */
body{
    font-family: 'Varela Round';
    color: white;
    background-color:#636a63;;
}

a{
    color:white;
    transition: display 2s;
}

/* Make links opacity change on hover */
a:hover{
    opacity:80%;
    color:white;
}

#icon{
    text-decoration: none;
}

.featured{
   display:flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color:#212529;
   border-radius: 10px;
}

.featured-img{
    border-radius:10px; 
    margin-top:40px; 
    max-height:460px;
    max-width: 700px;
    width: auto;
    height: auto;
}

.post{
    border-radius: 10px;
    padding-top:14px;
}

/* Changing Default bootstrap input colors */
.form-control{
    background-color:#212529 !important;
    color:white !important;
}

/* Remove outline around input/textarea */
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  

/* space links out in heading */
.heading a{
    padding-right:20px;
}

.heading{
    display: flex;
    gap:0px;
    flex-wrap:wrap;
    margin-top:80px;
    background-color:#212529;
    border-radius: 10px;
    height:60wv;
    color: white;
    padding-bottom:20px;
    margin-left: 5px;
    margin-right:5px;
}

/* Make links white */
.heading a{
    color:white;
}

/* Fade in animation used by profile-pic */
@keyframes fadein {
    0%{opacity:0%;}
    100%{opacity:100%;}
}

#profile-pic{
    margin-top:20px;
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
    border-radius:50%;
    padding-left:20px;
    margin-left:20vw;
}

.info{
    padding-left:20px;
}

#contactmeButton{
    border-radius:5px;
    background-color:rgb(64, 106, 64);
    border: none;
    color:white;
    height:40px;
    width: 140px;
    cursor:pointer;
    font-family: 'Varela Round';
    transition: background-color 1s;
    margin-right:20px;
}

/* email changes color on mouse cursor hover */
#contactmeButton:hover{
    background-color: #636a63;
}

#sendButton{
    background-color:rgb(64, 106, 64);
    color: white;
    transition: background-color 1s;
}

#sendButton:hover{
    background-color: rgb(65, 65, 109);
}

.modal-content{
    background-color:#636a63;
}

/* Flex-box container */
#maincontent{
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
    padding-right:5px;
}

  /* Individual divs within the flex-box containter */
#content{
    background-color:#212529;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:20px;
    margin-top:10px;
    margin-bottom:10px;
}

/* Main panel (contains aboutme, projects, experience, etc.) */
#panel1{
    max-width:900px;
}

/* Panel on right side (contains certifications and skills) */
#panel2{
    min-width:300px;
}

/* Removes animations/transitions if browser set */
@media(prefers-reduced-motion){
	#email{
		transition: none;
	}
    #profile-pic{
        animation-delay: none;
        -webkit-animation-name: none;
    }
}

/* For mobile */
@media (max-width: 1000px) {
    #maincontent {
      flex-direction: column;
    }

    .featured-img{
        max-width: 95vw;
    }

    .calendar{
        border-radius:10px; 
        overflow:scroll;
    }

  }

/* For ultra wide screens */
@media (min-width: 4000px) {

    #profile-pic{
        margin-left:40.5vw;
    }

}