/* Set font, text color, and background color of page */
body{
    font-family: 'Varela Round';
    color: white;
    background-color:#636a63;
}

h1{
    margin-top:20px; 
    margin-bottom:20px; 
    text-align:center;
}

a{
    color:white;
}

a:hover{
    opacity:80%;
    color:white;
    text-decoration: none;
}

/* Keeps videos in frame */
video{
    max-width:min-content;
}

/* Keeps images in frame */
img{
    max-width:50vw;
}

.btn{
    color:white; 
    background-color:rgb(64, 106, 64);
    transition:1s;
    margin-bottom:10px;
    margin-top:20px;
 }
 
 .btn:hover{
     background-color:#636a63;
     color:white;
 }

/* Flexbox container */
#maincontent{
    margin-top:80px;
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
    padding-right:5px;
}

/* Flexbox items */
#content{
    background-color:#212529;
    border-radius:10px;
    padding-left:10px;
    padding-top:1px;
    padding-right:10px;
    padding-bottom:20px;
    margin-top:10px;
    min-width:70vw;
    max-width:500px;
    min-height:88vh;
    margin-bottom:10px;
}

p{
    margin-left: 10px;
}

h3{
    margin-left: 10px; 
}

iframe{
    align-self: center;
}

/* For mobile */
@media (max-width: 600px) {
    #maincontent {
      flex-direction: column;
    }
    video{
        max-width:85vw;
    }

    iframe{
        max-width:85vw;
    }

    img{
        max-width:85vw;
    }

    #content{
        max-width:96vw;
    }
}