/* Set font, text color, and background color of page */
body{
    font-family: 'Varela Round';
    /* color: white; */
    background-color:#636a63;
    color:white;
}

a{
    color:white;
}

a:hover{
    opacity:80%;
    color:white;
    text-decoration: none;
}

ul{
    display:inline-block;
}

li{
    display:inline-block;
}

h1{
    text-align:center;
    margin-top:20px; 
}

small{
    color:rgb(150, 155, 158);
}

/* Flex-box container */
#maincontent{
    margin-top:80px;
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
    padding-right:5px;
}


/* Flex-box items */
#content{
    background-color:#212529;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:20px;
    margin-top:10px;
    min-width:70vw;
    max-width:70vw;
    min-height:89vh;
    height:100%;
    margin-bottom:10px;
}

h3{
    margin-left: 10px;
    margin-top:0px;
    margin-bottom:0px;
}

td{
    padding:0!important;
    margin:0!important;
}


p{
    margin-left: 10px;
    display:inline-block;
}

.preview{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
    border-color: rgb(62, 45, 159);
    background-color:#1b1e24;
    min-width:80%;
    opacity: 100%;
    transition: opacity 2s;
    border-radius:40px;
}

#preview-title{
    margin-left:10px;
}

.hidden{
    transform: translateX(-100%);
    transition: all 1s;
    opacity:0%;
}

.show{
    transform:translateX(0%);
    opacity:100%;
}

.btn{
   position:absolute;
   bottom: 0;
   right: 10px;
   color:white; 
   background-color:rgb(64, 106, 64);
   transition:1s;
   margin-bottom:10px;
}

.btn:hover{
    background-color:#636a63;
    color:white;
}

.description{
    margin-bottom:40px;
}

.card-body{
    background-color:#535353; 
    color:white;
}

/* Creates one column layout (in place of two) for mobile*/
@media (max-width: 800px) {
    #maincontent {
      flex-direction: column;
    }

    #content{
        max-width:96vw;
    }
}

@keyframes fadein {
    0%{opacity:0%;}
    100%{opacity:100%;}
}

tr{
    animation-name: fadein;
    animation-duration: 4.0s;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 4s;
}