{% extends 'portfolio/base.html' %}

{% block content %}

<head>
{% load static %}
<title>Scott Maxwell - Projects</title>
</head>

<div id="maincontent">
    <div id="content">
        <h1>Programming Projects</h1>
        <div class="row cards">

            {% for post in posts %}
            <div class="card hidden mx-auto mx-auto" style="width: 18rem; margin:20px; border-color:#575c65;">
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color:#383e4b; color:white;">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <small class="card-text">{{ post.date_posted }}</small>

                    <p class="card-text">{{ post.description }}</p>
                    <br>
                    <a href="{{ request.path }}projectpost/{{ post.id }}" class="btn float-right "
                        style="color:white; background-color:rgb(24, 24, 64);">See post</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</body>


{% endblock %}
