{% extends 'portfolio/base.html' %}


{% block content %}

<head>
{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
<title>Scott Maxwell - {{project.title}}</title>
</head>

<body>

    <!-- Main content of page -->
    <div id="maincontent">
        <div id="content">

            <h1>{{project.title|safe}}</h1>
            <small><i>{{project.date_posted|date:'M d, Y'}}<i></small>
            {% if project.code_link %}
                <br>
                <a><button class="btn">See Code &lt;\&gt;</button></a>
            {% endif %}
            <p>{{project.content|safe}}</p>

</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>

{% endblock %}